/*-------------------- GENERAL --------------------*/
*, *::before, *::after {
    box-sizing: border-box;
}

body,
ul,
li,
p {
    margin: 0;
    padding: 0;
    text-align: center;
    justify-content: center;
}

body {
    font-family: Arial, sans-serif;
    line-height: auto;
    width: 100%;
    padding: 0;
    margin: 0;
}

header {
    background-color: #5685b4;
    padding: 0;
    margin: 0;
    text-align: center;
}

section {
    padding: 10px;
}

footer {
    background-color: #5685b4;
    color: #ffffff;
    text-align: center;
    bottom: 0;
    padding: 10px;
}

/*-------------------- HEADER --------------------*/
.header-div-container {
    height: auto;
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    padding: 0;
    margin: 0;
    max-width: 100%;

    .header-logo-above {
        color: #ffffff;
        font-size: 36px;
        display: inline-flex;
        text-align: center;
        justify-content: space-between;
        margin: 0;
        flex-wrap: wrap;
        min-width: 200;
        cursor: pointer;
    }

    .header-logo-above:hover {
        color: #000000;

    }

    .header-logo-below {
        display: flex;
        color: #ffffff;


    }

    .header-logo-below:hover {
        color: #000000;
    }


    .section-img-container {
        width: 120px;
        height: 75px;
        border: 1px solid black;
        display: flex;
        overflow: hidden;
        margin: 0;
        padding: 0;
        border-image-width: 0%;
    }

    .img-container {
        max-width: 100%;
        max-height: 100%;
        cursor: pointer;
    }
}


/*-------------------- NAV BAR --------------------*/
.second-nav {
    min-width: 500px;
    align-items: center;
    position: relative;
    max-height: auto;
    background-color: #749cc4;
    padding: 8px;
    text-align: center;
    justify-content: space-between;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);

    a:hover {
        color: #000;
    }

}

.second-nav.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.second-nav ul {
    display: inline-flex;
    text-decoration: none;
    text-align: center;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.second-nav ul li {
    display: inline-flex;
    justify-content: right;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;

}

.second-nav ul li a {
    color: #ffffff;
    display: inline-block;
    justify-content: space-between;
}


.search-bar-div {
    display: inline-flex;
}

.search-bar {
    max-width: 100px;
}

.search-bar-btn {
    text-align: right;
    width: 30px;
    cursor: pointer;
}


/*-------------------- CAROUSEL --------------------*/

/* Styles for the carousel */
.carousel {
    position: relative;
    max-width: 100%;
    margin: 0 auto;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.carousel-container {
    position: relative;
    display: flex;
    transition: fade 0.5s ease;
}


.carousel-slide {
    flex: 0 0 100%;
    position: relative;
    display: flex;
    aspect-ratio: 16/6;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    /* border-radius: 0.5rem; */
}

.carousel-slide img {
    width: 100%;
    height: auto;
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(187, 186, 186, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
    transition: background-color 0.5s ease;
    opacity: 1;
}

.carousel-button:hover {
    opacity: 0.55;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

/* Styles for the additional buttons */
.additional-buttons {
    text-align: center;
    margin-top: 20px;
    position: absolute;
    bottom: 10px;
    right: 0;
    transform: translateX(-50%);
}

.additional-button {
    color: white;
    border: none;
    padding: 10px 10px;
    margin: 0 10px;
    cursor: pointer;
    background-color: rgba(187, 186, 186, 0.5);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    opacity: 12;
    transition: background-color 0.5s ease;
}

.additional-button:hover {
    opacity: 0.75;
}

 /* ORIGINAL CODE */
/* .carousel-text {
    position: absolute;
    left: 42%;
    color: white;
    font-size: 16px;
    top: 31%;
    background-color: black;
    padding: 6rem;
    opacity: 0.5;
} */

.carousel-text1 {
    position: absolute;
    color: white;
    font-size: 24px;
    padding: 1rem;
    top: 6%;
    left: 60%;
}

.carousel-text3 {
    position: absolute;
    color: white;
    font-size: 24px;
    padding: 1rem;
    bottom: 6%;
    right: 8%;
}









/*-------------------- TRIAL --------------------*/

/*-------------------- TRIAL --------------------*/

