/*-------------------- GENERAL --------------------*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
ul,
li,
p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-image: url(background-image10.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-clip: rect(300px, 300px, 300px, 300px);

}

header {
    background-color: #5685b4;
    padding: 0;
    margin: 0;
    text-align: center;
    /* opacity: 0.75; */
}

section {
    padding: 10px;
}

.logo-container {
    max-width: 200px;
    max-height: 150px;
    margin: 0;
    padding: 0;
    cursor: pointer;
    justify-content: center;
    text-align: center;
    padding-top: 10px;
}

footer {
    background-color: #5685b4;
    color: #ffffff;
    text-align: center;
    bottom: 0;
    padding: 5px;
}

.footer-rights {
    width: 100%;
    /* text-decoration: overline; */
    border-top: 1px solid #dddddd;
    justify-content: center;
    /* justify-content: space-between; */
    padding: 10px 0px 0px;
    font-size: 13px;
}

footer ul {
    width: 100%;
    justify-content: center;
    padding: 10px 0px 10px;
}

footer ul li {
    display: inline-flex;
    margin: 0;
    padding: 0;
    text-align: center;
    justify-content: center;
    color: #ffffff;
}

footer ul i a {
    color: #ffffff;
}

/*-------------------- HEADER --------------------*/
.header-div-container {
    height: auto;
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    padding: 0;
    margin: 0;
    max-width: 100%;

    .header-logo-above {
        color: #ffffff;
        font-size: 36px;
        display: inline-flex;
        text-align: center;
        justify-content: space-between;
        margin: 0;
        flex-wrap: wrap;
        min-width: 200;
        cursor: pointer;
    }

    .header-logo-above:hover {
        color: #000000;

    }

    .header-logo-below {
        display: flex;
        color: #ffffff;


    }

    .header-logo-below:hover {
        color: #000000;
    }


    .section-img-container {
        width: 120px;
        height: 75px;
        border: 1px solid black;
        display: flex;
        overflow: hidden;
        margin: 0;
        padding: 0;
        border-image-width: 0%;
    }

    .img-container {
        max-width: 100%;
        max-height: 100%;
        cursor: pointer;
    }
}

.header-div-container section {
    opacity: 1;
}

/*-------------------- NAV BAR --------------------*/
.second-nav {
    /* min-width: 500px; */
    display: inline-flex;
    align-items: center;
    /* position: relative; */
    max-height: auto;
    background-color: #749cc4;
    padding: 8px;
    /* text-align: center; */
    line-height: 200%;
    justify-content: space-between;
    width: 100%;
    /* box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5); */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

    a:hover {
        color: #ffffff;
    }

}


.second-nav.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    /* transition: all 0.5s ease-in-out; */
}

.second-nav ul {
    justify-content: space-between;
    display: inline-flex;
}

.second-nav ul li {
    display: flex;
    /* justify-content: right; */
    text-decoration: none;
    text-align: center;
    /* justify-content: center; */
    margin-left: 20px;
    margin-right: 20px;
    /* justify-content: space-between; */
    height: auto;
    width: auto;
}

.second-nav ul li a {
color: #000000;
}

.toggle-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.toggle-button {
    background-color: #d2d2d2;
    width: 70px;
    height: 38px;
    border-radius: 200px;
    cursor: pointer;
    position: relative;
    transition: 0.5s ease;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.toggle-button::before {
    position: absolute;
    content: '';
    background-color: #fff;
    width: 28px;
    height: 28px;
    border-radius: 200px;
    margin: 5px;
    transition: 0.5s ease;
}

input:checked +.toggle-button {
    background-color: #749cc4;

}

input:checked+.toggle-button::before {
    transform: translatex(33px);
}

.toggle-container input {
    display: none;
}


.searchbar-container {
    /* height: 80vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
    
    
}

.searchbar-box {
    height: 40px;
    display: flex;
    cursor: pointer;
    padding: 5px 10px;
    background-color: #749cc4;
    border-radius: 30px;
    align-items: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    color: #ffffff;
}

.searchbar-box:hover input {
    width: 150px;
    
}

.searchbar-box input {
    width: 0;
    outline: none;
    border: none;
    font-weight: 500;
    transition: 1s;
    background: transparent;
}

.searchbar-box a .fas {
    color: #1daf;
    font-size: 18px;
}




/*-------------------- CAROUSEL --------------------*/

/* Styles for the carousel */
.carousel {
    position: relative;
    max-width: 100%;
    margin: 0 auto;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.carousel-container {
    position: relative;
    display: flex;
    transition: fade 0.5s ease;
}


.carousel-slide {
    flex: 0 0 100%;
    position: relative;
    display: flex;
    aspect-ratio: 16/6.3;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    /* border-radius: 0.5rem; */
}

.carousel-slide img {
    width: 100%;
    height: auto;
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(187, 186, 186, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
    transition: background-color 0.5s ease;
    opacity: 1;
}

.carousel-button:hover {
    opacity: 0.55;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

/* Styles for the additional buttons */
.additional-buttons {
    text-align: center;
    margin-top: 20px;
    position: absolute;
    bottom: 10px;
    right: 0;
    transform: translateX(-50%);
}

.additional-button {
    color: white;
    border: none;
    padding: 10px 10px;
    margin: 0 10px;
    cursor: pointer;
    background-color: rgba(187, 186, 186, 0.5);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    opacity: 12;
    transition: background-color 0.5s ease;
}

.additional-button:hover {
    opacity: 0.75;
}

/* ORIGINAL CODE */
/* .carousel-text {
    position: absolute;
    left: 42%;
    color: white;
    font-size: 16px;
    top: 31%;
    background-color: black;
    padding: 6rem;
    opacity: 0.5;
} */

.carousel-text1 {
    position: absolute;
    color: white;
    font-size: 24px;
    padding: 1rem;
    top: 6%;
    left: 60%;
}

.carousel-text3 {
    position: absolute;
    color: white;
    font-size: 24px;
    padding: 1rem;
    bottom: 6%;
    right: 8%;
}

/*-------------------- GRID BOX --------------------*/


.grid-header-text {
    /* text-decoration: underline; */
    font-size: 32px;
    margin: 0;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 90px;
    width: 300px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

}

.grid-header-text-below {
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 90px;
    width: 680px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    /* text-decoration: underline; */
}

.grid-header-container {
    /* justify-content: center; */
    text-align: center;
    /* display: block; */
    margin: 50px;
}

.grid-box {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    background-color: #fff;
    text-align: center;
    max-width: 350px;
    margin: 30px;
    border-radius: 20px;
    
}

.grid-box-container {
    display: inline-flex;
    text-align: center;
    width: 100%;
    justify-content: center;
}

/*-------------------- SLIDING BOX --------------------*/

.slide-box-container {
    margin: 0;
    padding: 0;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    /* display: inline-block; */
    overflow: hidden;
}

.slider-header {
    justify-content: center;
    display: flex;
    margin: 0;
    padding: 0;
    /* border: 1px solid #000000; */
    width: 350px;
    border-radius: 90px;
    background-color: rgba(255, 255, 255, 0.75);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.slide-box-container1 {
    height: 350px;
    width: 100%;
    display: flex;
}

.slide-box-container2 {
    height: 350px;
    width: 100%;
    display: flex;
}


.slide-box-container-1,
.slide-box-container-2,
.slide-box-container-3,
.slide-box-container-4 {
    /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); */
    /* background-color: #fff; */
    /* text-align: center; */
    margin: 30px;
    width: 500px;
    height: 300px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: left 1.5s ease, right 1.5s ease, top 1.5s ease, bottom 1.5s ease;
    border-radius: 30px;
}

.slide-box-container-1,
.slide-box-container-4 {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.slide-box-container-2 div,.slide-box-container-3 div{
    padding-bottom: 20px;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}


/* Positions for each slide box */
#slidefirst {
    left: -530px;
    top: 0%; 
}

#slidesecond {
    right: -1000px;
    top: 0%; 
}

#slidethird {
    left: -530px;
    bottom: 0%;
}

#slidefourth {
    right: -1000px;
    bottom: 0%;
}

/* Visible state for each slide box */
#slidefirst.visible {
    left: 230px;
}

#slidesecond.visible {
    right: -220px;
}

#slidethird.visible {
    left: 230px;
}

#slidefourth.visible {
    right: -220px;
}



/*-------------------- ABOUT US CONTAINER --------------------*/


.about-us-container {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    /* text-align: center; */
    /* align-items: center;
    display: flex;
    justify-content: center; */
}






/*-------------------- TRIAL --------------------*/